---
import Layout from '../layouts/TestPage.astro';
---

<!-- Create a contact page using the Layout component -->
<Layout
    title="Contact Me"
    description="Get in touch with me"
    >
<p>Links to reach me:</p>
<ul>
  <li>Email:</li>
  <li>LinkedIn:</li>
</ul>

</Layout>
