---
import Layout from '../layouts/TestPage.astro';
---

<!-- Create a contact page using the Layout component -->
<Layout
    title="My Projects"
    description="A showcase of my projects"
    >

    <p>Here are some of the projects I've worked on:</p>
    <ul>
      <li>
        <p>Auto Battle: A multiplayer web browser game.<br>
        <a href="/blog/03-autobattle-project">Read more</a><br>
        <a href="https://github.com/GSeynave/projectDL">Github Link</a>
        </p>
      </li>
    </ul>
</Layout>
